<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/error.css">
    <%- include('../includes/links.ejs') %>
        <%- include('../includes/navbar.ejs') %>

            <div class="error">
                <%= message %>
            </div>
            <%- include('../includes/footer.ejs') %>
                <script>
                    console.log("<%= err %> ");
                </script>
                </body>

                </html>